* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    display: flex;
    height: 64px;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(1, 25, 48, 0.87);

}

#navbar a {
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 15px 20px;
    margin-right: 14px;

}

.contact {
    animation: zoomPulse 1.5s infinite ease-in-out;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

@keyframes zoomPulse {
    0% {
        transform: scale(1);
        color: #d6a965;
    }

    50% {
        transform: scale(1.2);
        color: #d6a965;
    }

    100% {
        transform: scale(1);
        color: #d6a965;

    }
}

#navbar a:hover {
    color: rgb(33, 199, 55);
}

.logo-img {
    width: 100px;
    height: 60px;
    display: flex;
    align-items: center;
    margin-right: auto;
    padding-top: 7px;
    padding-left: 40px;
}

.level2 {
    padding: 40px;
    background-color: rgba(238, 236, 236, 0.856);
    margin-top: 60px;
    margin-left: 50px;
    height: 550px;
    width: 1260px;
    border-radius: 18px;
}


.heading1 {
    text-align: center;
    font-size: 50px;
    color: #142e47
}

.line1 {
    width: 90px;
    height: 5px;
    background: rgb(3, 122, 53);
    border: none;
    margin: 8px auto;
    border-radius: 5px;

}


.div1 {
    display: flex;
    align-items: center;
    gap: 80px;
}


.img1 {
    margin-left: 30px;
    width: 420px;
    height: 320px;
    border-radius: 18px;
}

.div2 {
    width: 650px;
    height: 350px;
    margin-top: 15px;
}

.heading2 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 25px;
    color: #6b2c02;
}

.p1,
.p2,
.p3 {
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    font-size: 18px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.945);

}

.container {
    height: 720px;
    background-color: rgba(238, 236, 236, 0.856);
}

.services {
    width: 100%;
    background-color: rgba(238, 236, 236, 0.856);
    margin-top: 100px;

}

.heading3 {
    color: #5a2d0c;
    padding-top: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.line2 {
    width: 90px;
    height: 5px;
    background: rgb(3, 122, 53);
    border: none;
    margin: 8px auto;
    border-radius: 5px;

}

.div3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 30px;
    background-color: rgba(238, 236, 236, 0.856);
    margin-top: 40px;
}

/* .div4 {
    width: 400px;
    height: 210px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40px;
    border-radius: 12px;
    border: 0.5px solid rgba(0, 0, 0, 0.171);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.div4:hover {
  transform: translateY(-8px);
} */


.div4 {
    width: 400px;
    height: 210px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}


.div4::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: 12px;
    background: linear-gradient(90deg,
            transparent,
            #00ff99,
            #00ccff,
            #9b5cff,
            #ff4ecd,
            transparent);
    background-size: 200% 100%;
    animation: borderMove 2s linear infinite;
    z-index: -1;
}


.div4::after {
    content: "";
    position: absolute;
    inset: 2px;
    background: white;
    border-radius: 10px;
    z-index: -1;
}

@keyframes borderMove {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}

.div4:hover::before {
    background: linear-gradient(90deg, #ff00ea, #00ccff, #00ff99);
}


.div5 {
    color: rgba(2, 150, 2, 0.877);
    background-color: rgba(217, 228, 220, 0.856);
    height: 48px;
    width: 48px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: 30px;
    border-radius: 6px;


}

.icon1 {
    padding-top: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading4 {
    color: rgba(0, 0, 0, 0.952);
    margin-top: 25px;
    margin-left: 30px;
    font-size: 18px;
    font-weight: bold;
}

.p4 {
    font-size: 15px;
    margin-left: 30px;
    margin-top: 10px;
    line-height: 22px;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.705);
}

.heading15 {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    font-size: 40px;
    font-weight: bold;
}


.level3 {
    background: linear-gradient(to right, #c6ccd1ea, #b8ccc3e7);
    height: 600px;
    margin-top: 0px;
    position: relative;
}



#heading5 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 600px;
    padding-top: 80px;
}

.line3 {
    width: 80px;
    height: 5px;
    background: green;
    border: none;
    margin: 16px auto;
    border-radius: 2px;
}


.div11 {
    width: 400px;
    height: 400px;
    margin-left: 130px;
    margin-top: 35px;
    position: relative;
    z-index: 1;
}

.heading6 {
    font-size: 22px;
    font-weight: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 20px;

}

.icon7,
.icon8,
.icon9,
.icon10 {
    display: flex;
    gap: 12px;
    text-decoration: none;
    color: rgba(1, 112, 1, 0.774);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-top: 24px;
    padding-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.span1,
.span2,
.span3,
.span4 {
    color: rgba(19, 19, 19, 0.658);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;


}

.span1:hover,
.span2:hover,
.span3:hover,
.span4:hover {
    color: #075e2b;
}


.div12 {
    width: 400px;
    height: 400px;
    position: relative;
    top: -400px;
    left: 750px;
    z-index: 2;
}


.input1,
.input2 {
    display: flex;
    margin-top: 20px;
    width: 380px;
    height: 48px;
    border: 0.5px solid rgba(0, 0, 0, 0.205);
    outline: none;
    border-radius: 12px;
}

.input1:hover,
.input2:hover {
    border: 1.5px solid green;
}

.input1::placeholder,
.input2::placeholder {
    padding-left: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.textarea1 {
    display: flex;
    margin-top: 20px;
    width: 380px;
    height: 130px;
    border: 0.5px solid rgba(0, 0, 0, 0.205);
    outline: none;
    border-radius: 12px;
    resize: none;
}

.textarea1::placeholder {
    padding-left: 16px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}


.textarea1:hover {
    border: 1.5px solid green;
}

.button3 {
    background: linear-gradient(135deg, #0f766e, #134e4a);
    color: rgba(255, 255, 255, 0.95);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 10px;
    width: 160px;
    height: 40px;
    border-radius: 12px;
    border: none;
    transition: background 0.4s ease, transform 0.3s ease;
    animation: smoothZoom 1.5s infinite ease-in-out;
}


@keyframes smoothZoom {
    0% {
        transform: scale(1);
        background: linear-gradient(135deg, #0f766e, #134e4a);
    }

    50% {
        transform: scale(1.08);
        background: linear-gradient(135deg, #14b8a6, #0f766e);
    }

    100% {
        transform: scale(1);
        background: linear-gradient(135deg, #0f766e, #134e4a);
    }
}

.button3:hover {
    box-shadow: 0 0 15px rgba(20, 184, 166, 0.6);
}

.footer {
    height: 100px;
    background-color: rgb(1, 1, 36);
    color: rgba(255, 255, 255, 0.733);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}