@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');


*{
margin:0;
padding:0;
box-sizing:border-box;
}



body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

overflow:hidden;


background:

radial-gradient(circle at center,
#3b2f10,
#080814 45%,
#02030a);

font-family:Cinzel;

}



/* background glow */

body:before{

content:"";

position:absolute;

width:650px;
height:650px;

background:

radial-gradient(circle,
#ffd700,
transparent 65%);


filter:blur(100px);

opacity:.25;

animation:glow 5s infinite;

}



@keyframes glow{

50%{
transform:scale(1.2);
opacity:.45;
}

}





/* CLOCK */

.clock{


width:500px;
height:500px;


position:relative;


border-radius:50%;



background:


radial-gradient(circle,
#3a3a42,
#08090d 70%);



border:

12px solid #d4af37;



box-shadow:

0 0 80px #d4af37,

inset 0 0 60px #000,

0 40px 100px #000;


animation:float 5s infinite ease-in-out;



}




.clock:before{


content:"";

position:absolute;

inset:35px;


border-radius:50%;


border:2px solid rgba(255,215,0,.35);



background:

repeating-conic-gradient(

from 0deg,

#ffd700 0deg 2deg,

transparent 2deg 30deg

);



mask:

radial-gradient(circle,

transparent 78%,

black 79%);



}





.clock:after{

content:"";

position:absolute;

inset:60px;

border-radius:50%;


border:1px solid rgba(255,255,255,.15);


}





@keyframes float{


50%{

transform:translateY(-18px);

}


}





/* LOGO */

.logo{


position:absolute;


width:110px;


top:100px;


left:50%;


transform:translateX(-50%);



filter:

drop-shadow(0 0 20px gold);


z-index:5;


}





/* NUMBERS */


.n{


position:absolute;


left:50%;
top:50%;


width:50px;
height:50px;



display:flex;

justify-content:center;

align-items:center;



color:#ffe8a0;



font-size:32px;



text-shadow:

0 0 20px gold;



transform:

translate(-50%,-50%);



}





.n12{

transform:
translate(-50%,-50%)
rotate(0deg)
translateY(-205px)
rotate(0deg);

}


.n1{

transform:
translate(-50%,-50%)
rotate(30deg)
translateY(-205px)
rotate(-30deg);

}



.n2{

transform:
translate(-50%,-50%)
rotate(60deg)
translateY(-205px)
rotate(-60deg);

}




.n3{

transform:
translate(-50%,-50%)
rotate(90deg)
translateY(-205px)
rotate(-90deg);

}



.n4{

transform:
translate(-50%,-50%)
rotate(120deg)
translateY(-205px)
rotate(-120deg);

}



.n5{

transform:
translate(-50%,-50%)
rotate(150deg)
translateY(-205px)
rotate(-150deg);

}




.n6{

transform:
translate(-50%,-50%)
rotate(180deg)
translateY(-205px)
rotate(-180deg);

}




.n7{

transform:
translate(-50%,-50%)
rotate(210deg)
translateY(-205px)
rotate(-210deg);

}





.n8{

transform:
translate(-50%,-50%)
rotate(240deg)
translateY(-205px)
rotate(-240deg);

}





.n9{

transform:
translate(-50%,-50%)
rotate(270deg)
translateY(-205px)
rotate(-270deg);

}




.n10{

transform:
translate(-50%,-50%)
rotate(300deg)
translateY(-205px)
rotate(-300deg);

}




.n11{

transform:
translate(-50%,-50%)
rotate(330deg)
translateY(-205px)
rotate(-330deg);

}





/* HANDS */


.hands{


width:100%;
height:100%;


display:flex;

align-items:center;

justify-content:center;


}




.hands div{


position:absolute;


bottom:50%;



transform-origin:bottom;


border-radius:30px;


}



.hour{


height:120px;

width:15px;


background:

linear-gradient(
white,
#999
);



box-shadow:

0 0 20px white;



}



.minute{


height:170px;


width:10px;



background:

linear-gradient(
#ffd700,
#9c6500
);



box-shadow:

0 0 25px gold;



}




.second{


height:200px;


width:4px;


background:#ff1744;


box-shadow:

0 0 20px red;



}




/* CENTER */


.center{


position:absolute;



width:35px;

height:35px;



top:50%;

left:50%;



transform:

translate(-50%,-50%);



border-radius:50%;


background:

radial-gradient(circle,
white,
gold);



box-shadow:

0 0 35px gold;


z-index:10;


}





@keyframes float{


0%,100%{

transform:translateY(0);

}


50%{

transform:translateY(-20px);

}


}