*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    width:100%;
    height:100vh;
    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#1f1f1f;
}


.main-container{
    display:flex;
    align-items:center;
    gap:75px;

    padding:50px 60px;

    background:#232323;

    border-radius:20px;

    transition:0.4s ease;
}

.main-container:hover{
    transform:translateY(-3px);
}

.logo-box{
    position:relative;
    width:240px;
    height:320px;
}


.version{
    position:absolute;
    top:-20px;
    left:10px;

    color:#ffffff;

    font-size:15px;
    letter-spacing:2px;
}


.yellow-shape{
    width:210px;
    height:320px;

    background:#fff200;

    position:relative;

    border-top-right-radius:110px;
    border-bottom-right-radius:110px;

    clip-path:polygon(
        0 0,
        80% 0,
        100% 15%,
        100% 85%,
        80% 100%,
        0 100%
    );

    /* NO GLOW */
    box-shadow:none;

    transition:0.4s ease;
}



.blue-circle{
    width:165px;
    height:165px;

    background:#008cff;

    border-radius:50%;

    position:absolute;
    left:-28px;
    top:78px;

    
    box-shadow:none;

    transition:0.4s ease;
}



.logo-box:hover .yellow-shape{
    transform:scale(1.02);
}

.logo-box:hover .blue-circle{
    transform:translateX(5px);
}


.login-container{
    width:340px;

    display:flex;
    flex-direction:column;
}

/* LOGIN TEXT */

.login-container h1{
    color:#ffffff;

    font-size:64px;
    font-weight:700;

    margin-bottom:22px;

    letter-spacing:2px;

    transition:0.3s;
}

.login-container:hover h1{
    color:#fff200;
}

/* INPUTS */

.login-container input{
    width:100%;
    height:45px;

    margin-bottom:16px;

    background:transparent;

    border:2px solid #666666;

    border-radius:7px;

    outline:none;

    color:white;

    padding-left:14px;

    font-size:15px;

    transition:0.3s ease;
}

/* PLACEHOLDER */

.login-container input::placeholder{
    color:#aaaaaa;
}

/* INPUT HOVER */

.login-container input:hover{
    border-color:#fff200;
}

/* INPUT FOCUS */

.login-container input:focus{
    border-color:#008cff;

    transform:scale(1.02);
}

/* BUTTON */

.login-container button{
    width:100%;
    height:48px;

    margin-top:10px;

    border:none;
    border-radius:7px;

    background:linear-gradient(
        135deg,
        #fff200,
        #ffbf00
    );

    color:#1f1f1f;

    font-size:14px;
    font-weight:bold;

    letter-spacing:1px;

    cursor:pointer;

    position:relative;

    overflow:hidden;

    transition:0.4s ease;
}

/* BUTTON SHINE */

.login-container button::before{
    content:"";

    position:absolute;

    top:0;
    left:-100%;

    width:100%;
    height:100%;

    background:linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255,0.5),
        transparent
    );

    transition:0.6s;
}

.login-container button:hover::before{
    left:100%;
}



.login-container button:hover{
    background:linear-gradient(
        135deg,
        #008cff,
        #005eff
    );

    color:white;

    transform:translateY(-3px);
}



.login-container button:active{
    transform:scale(0.98);
}